@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
  --bg-nav: light-dark( hsl(290 21% 15% / 1), hsl(290 21% 15% / 1) );
  --bg-top: light-dark( hsl(0 0% 93% / 1), hsl(0 0% 15% / 1) );
  --bg-main: light-dark( hsl(55 100% 95% / 1), hsl(290 15% 8% / 1) );
  --bg-a-hover: light-dark( hsl(290 21% 18% / 1), hsl(290 21% 11% / 1) );
  --br-link-top: light-dark( hsl(0 0% 90% / 1), hsl(0 0% 90% / 1) );
  --sh-nav: light-dark( hsl(290 21% 15% / 0.5), hsl(290 21% 35% / 0.5) );
  --ch-light: light-dark( hsl(55 100% 92% / 1), hsl(55 100% 92% / 1) );
  --ch-dark: light-dark( hsl(290 50% 5% / 1), hsl(290 20% 95% / 1) );
  --ch-a-hover: light-dark( hsl(55 100% 84% / 1), hsl(55 100% 84% / 1) );
  --ol-input: light-dark( hsl(290 100% 45% / 1), hsl(290 100% 45% / 1) );
  --icon-card-hover: light-dark( hsl(290 65% 35% / 1), hsl(290 65% 35% / 1) );

  --lc-img-src: url("../images/Bates_Motel.jpg");
}

@property --menu-width {
  syntax: "<length> | <percentage>";
  inherits: true;
  initial-value: 280px;
}
@property --menu-height {
  syntax: "<length> | <percentage>";
  inherits: true;
  initial-value: 53px;
}
@property --menu-pad-top {
  syntax: "<length>";
  inherits: true;
  initial-value: 3.2px;
}
@property --menu-pad-left {
  syntax: "<length>";
  inherits: true;
  initial-value: 8px;
}
@property --announce-hght {
  syntax: "<length>";
  inherits: true;
  initial-value: 36px;
}
@property --trend-hght {
  syntax: "<length>";
  inherits: true;
  initial-value: 36px;
}

html {
  height: 100dvh;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background-color: var(--bg-main);
  color: var(--ch-dark);
}
ul {
  list-style-type: none;
}
a:any-link {
  text-decoration: none;
}
[class^="ph--"] {
  font-size: 1.5rem;
}
[role="button"] {
  cursor: pointer;
}

.dashboard {
  --menu-width: 280px;
  --menu-height: 53px;
  display: grid;
  grid-template-columns: 1fr;
  transition: 300ms;
}
.dashboard.drop {
  --menu-height: 460px;
}
.dashboard.slim {
  --menu-width: 50px;
}
.dashboard.slim .menu {
  width : var(--menu-width);
  padding-left: 0.3rem;
  overflow: hidden;
}
.menu {
  min-width: var(--menu-width);
  height: var(--menu-height);
  padding-top: var(--menu-pad-top);
  padding-left: var(--menu-pad-left);
  overflow: hidden;
  background-color: var(--bg-nav);
  transition: 300ms;
}
header {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 1rem;
}
.logo {
  width: 40px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: 1fr 0.5fr 1fr / 1fr 1fr;
  gap: 4px;
}
.title {
  color: var(--ch-light);
}
.rectangle {
  background-color: var(--ch-light);
}
.rectangle.r_1 {
  grid-row: span 2;
}
.rectangle.r_3 {
  grid-row: span 2;
}
.menu ul + ul {
  margin-top: 3rem;
}
.menu a:any-link {
  padding: 0.5rem 0;
  color: var(--ch-light);
  display: grid;
  grid-template-columns: 40px auto;
  gap: 1rem;
  justify-content: start;
  transition: 400ms;
}
.menu span {
  justify-self: center;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: var(--bg-a-hover);
  color: var(--ch-a-hover);
  transition: 400ms;
}

.right {
  container: top-main / inline-size;
}
.top {
  background-color: var(--bg-top);
  color: var(--ch-dark);
  box-shadow: 2px 3px 4px var(--sh-nav);
  display: grid;
  grid-template-areas:
  "search"
  "admin"
  "linktabs";
}
.top img {
  content: var(--lc-img-src);
  display: block;
  max-width: 100%;
}
.top form {
  grid-area: search;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 24px auto;
  justify-content: end;
  align-items: center;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
}
.top input {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0.3rem;
  background-color: var(--bg-main);
  border: 2px inset var(--bg-main);
}
.top input:focus {
  outline: 1px dotted var(--ol-input);
  outline-offset: -4px;
}
.admin {
  grid-area: admin;
  display: grid;
  grid-template-columns: auto 1fr 30px 30px;
  justify-content: space-evenly;
  align-items: center;
}
.top .admin img {
  clip-path: circle(20px at 38% 52%);
}
.admin > [class^="ph--"],
.admin > div {
  order: 1;
}
.admin [role="button"]:hover,
.admin [role="button"]:active,
.admin [role="button"]:focus {
  color: var(--icon-card-hover);
}
.admin span:last-of-type {
  font-weight: 500;
}
.greeting {
  grid-area: greet;
  display: none;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr 1fr;
}
.greeting img {
  grid-row: 1 / 3;
  align-self: center;
  clip-path: circle(32px at 38% 52%);
}
.greeting span {
  font-weight: 500;
}
.greeting span:first-of-type {
  align-self: end;
}
.greeting span:last-of-type {
  align-self: start;
  font-size: 1.3rem;
  white-space: nowrap;
}
.top ul {
  grid-area: linktabs;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
  text-align: center;
}
.top li a:any-link {
  display: block;
  padding: 0 1.5rem;
  color: var(--ch-dark);
  border: 1px solid var(--br-link-top);
  border-start-start-radius: 25px 25px;
  border-end-end-radius: 25px 25px;
  corner-shape: superellipse(-0.75);
  transition: 300ms;
}
.top li a:hover,
.top li a:active,
.top li a:focus {
  background-color: var(--bg-nav);
  color: var(--ch-a-hover);
}

main {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "announce"
    "trend"
    "project";
  column-gap: 1rem;
  justify-items: center;
}
main:has(aside.drop) {
  row-gap: 1rem;
}

.projects {
  grid-area: project;
  width: 100%;
  margin-top: 1rem;
}
.projects h2 {
  justify-self: center;
  width: 300px;
  padding: 0.3rem 2.5rem;
  margin-bottom: 1.5rem;
  font-variant: small-caps;
  background-color: var(--bg-nav);
  color: var(--ch-light);
  box-shadow: 2px 3px 4px var(--sh-nav);
  border-radius: 22px;
  outline: 1px solid var(--ch-light);
  outline-offset: -4px;
  corner-shape: scoop;
}
main:has(aside.drop) .projects {
  margin-top: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}
.card {
  margin: 0 0.5rem;
  border: 1px solid var(--bg-nav);
  border-inline-start: 8px solid var(--bg-nav);
  border-start-start-radius: 12px;
  border-end-start-radius: 12px;
  border-end-end-radius: 20px 24px;
  corner-end-end-shape: scoop;
  box-shadow: 2px 3px 4px var(--sh-nav);
  background-color: var(--bg-top);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 120px 150px 32px;
  justify-items: center;
}
.card h3 {
  text-align: center;
  align-self: center;
}
.card > a {
  border: 2px groove var(--bg-nav);
  overflow: hidden;
}
.card img {
  display: block;
  max-width: 100%;
  transition: 200ms;
}
.card img:hover {
  transform: scale(1.2);
}
.card p {
  padding: 1rem;
  text-wrap-style: pretty;
  overflow-y: auto;
}
.card div {
  justify-self: end;
  margin-right: 1.5rem;
}
.card div a:any-link {
  display: inline-block;
  color: light-dark(var(--bg-nav), var(--bg-main));
}
.card div a:hover,
.card div a:active,
.card div a:focus {
  color: var(--icon-card-hover);
}

.announcements,
.trending {
  width: 280px;
  background-color: var(--bg-top);
  border-end-start-radius: 6px;
  border-end-end-radius: 6px;
  box-shadow: 2px 3px 4px var(--sh-nav);
  overflow: hidden;
}
.announcements {
  grid-area: announce;
  height: var(--announce-hght);
  transition: 300ms;
}
.announcements.drop {
 --announce-hght: 463px;
}
.announcements h3 + span,
.trending h3 + span {
  transform: rotateZ(0deg);
  transition: 300ms;
}
.announcements.drop h3 + span,
.trending.drop h3 + span {
  transform: rotateZ(180deg);
}
.trending {
  grid-area: trend;
  height: var(--trend-hght);
  transition: 300ms;
}
.trending.drop {
  --trend-hght: 374px;
}
.announcements > div,
.trending > div {
  padding: 0.3rem;
  border-block-end: 2px groove var(--bg-main);
  background-color: var(--bg-nav);
  color: var(--ch-light);
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  gap: 1rem;
}
.trending a:hover,
.trending a:active,
.trending a:focus {
  text-decoration: underline;
}
.announcements li,
.trending li {
  padding: 0.75rem 0.5rem;
  font-size: 0.9rem;
}
.announcements li:not(:last-of-type) {
  border-block-end: 1px groove var(--bg-nav);
}
.announcements p {
  margin-left: 0.3rem;
  text-wrap-style: balance;
}
.trending li {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 1rem;
}
.trending li div {
  border-radius: 50%;
  justify-self: center;
  grid-row: 1 / 3;
}
.trending li:last-child {
  grid-column: 2 / 3;
}
.phosphor div {
  width: 45px;
  height: 45px;
  background-color: var(--bg-nav);
}
.phosphor div span{
  display: block;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
  font-size: 2.5rem;
  color: var(--ch-light);
}
.odin div {
  width: 40px;
  background-color: var(--bg-nav);
  background-image: url("../images/odin-lined.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
.gfont svg {
  fill: var(--bg-nav);
  color: var(--ch-light);
}

@container top-main (width > 615px) {
  .top {
    padding: 0.5rem;
    grid-template-areas:
    "search admin"
    "greet linktabs";
    row-gap: 1rem;
  }
  .top form {
    justify-self: stretch;
    grid-template-columns: 24px 1fr;
  }
  .top input {
    max-width: 600px;
  }
  .greeting {
    display: grid;
  }
  .top ul {
    align-items: end;
  }
  .admin {
    justify-self: end;
    grid-template-columns: 30px 30px 1fr auto;
  }
  .admin > [class^="ph--"],
  .admin > div {
    order: 0;
  }
  main {
    grid-template-areas:
      "project announce"
      "project trend";
    grid-template-rows: 500px;
    justify-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .projects {
    margin-top: 0;
  }
  aside [role="button"] {
    cursor: auto;
  }
  .announcements {
    --announce-hght: 463px;
  }
  .trending {
    --trend-hght: 374px;
  }
  .announcements h3 + span,
  .trending h3 + span {
    display: none;
  }
}

@container top-main (width > 949px) {
  .top {
    padding-inline: 3rem;
  }
  .top ul {
    width: 500px;
    justify-self: end;
  }
}

@media screen and (width > 599px) {
  .dashboard {
    --menu-width: 280px;
    --menu-height: 100%;
    grid-template-columns: var(--menu-width) auto;
  }
  .menu {
    padding-top: 1.5rem;
    padding-left: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .right {
    grid-column: 2 / 3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  .scheme [value="dark"] {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  .scheme [value="light"] {
    display: none;
  }
}
.scheme {
  position: relative;
  aspect-ratio: 1 / 1;
}
.scheme > * {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
}
:root[data-theme="dark"] .scheme [value="light"] {
  display: none;
}
:root[data-theme="dark"] .scheme [value="dark"] {
  display: inline-block;
}
:root[data-theme="light"] .scheme [value="dark"] {
  display: none;
}
:root[data-theme="light"] .scheme [value="light"] {
  display: inline-block;
}
